.cont{
     justify-content: center;
     border-radius: 10px;
     background-color: aqua;
     padding: 20px;
     margin: 40px auto;
     width: 40%;
     text-align: center;
}
body{
    margin: 0%;
}
.h1{
    align-items: center;
    display: flex;
}
#hed{
    text-align: center;
    margin-top: 20px;
}
.btn{
    border-radius: 10px;
    border-color: red;
    color: red;
    background-color: red;
    color: black;
    font-size: medium;
    margin-left:40%;
    cursor: pointer;
}